# Configuración
jacvroyz.cl {
        request_body {
                max_size 10GB
        }

        reverse_proxy /api/* backend:5000
        reverse_proxy frontend:80
}

www.jacvroyz.cl {
	redir https://jacvroyz.cl{uri}
}

api.jacvroyz.cl {
	reverse_proxy backend:5000
}

mail.jacvroyz.cl {
	reverse_proxy https://nginx-mailcow:8443 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}
