# Configuración
jacvroyz.cl {
        request_body {
                max_size 50GB
        }

        reverse_proxy /api/* backend:5000 {
                transport http {
                        read_timeout 2h
                        write_timeout 2h
                        dial_timeout 30s
                }
        }

        reverse_proxy frontend:80
}

www.jacvroyz.cl {
	redir https://jacvroyz.cl{uri}
}

api.jacvroyz.cl {
	reverse_proxy backend:5000
}

mail.jacvroyz.cl {
	reverse_proxy https://nginx-mailcow:443 {
		transport http {
			tls_insecure_skip_verify
		}
		header_up X-Forwarded-Proto https
		header_up X-Webobjects-Server-Port 443
		header_up X-Webobjects-Server-Name mail.jacvroyz.cl
		header_up X-Webobjects-Server-URL https://mail.jacvroyz.cl
	}
}
files.jacvroyz.cl {
    reverse_proxy filebrowser:80
}

mail.tdd.cl {
    reverse_proxy https://nginx-mailcow:443 {
        transport http {
            tls_insecure_skip_verify
        }
        header_up X-Forwarded-Proto https
        header_up X-Webobjects-Server-Port 443
        header_up X-Webobjects-Server-Name mail.tdd.cl
        header_up X-Webobjects-Server-URL https://mail.tdd.cl
    }
}

mail.aliagaingenieria.cl {
    reverse_proxy https://nginx-mailcow:443 {
        transport http {
            tls_insecure_skip_verify
        }
        header_up X-Forwarded-Proto https
        header_up X-Webobjects-Server-Port 443
        header_up X-Webobjects-Server-Name mail.aliagaingenieria.cl
        header_up X-Webobjects-Server-URL https://mail.aliagaingenieria.cl
    }
}

import /etc/caddy/sites/*.caddy
